div {
    margin: 5px;
}
h1 {
    color: blue;
}

#third > span {
    visibility: hidden;
}

.right p {
    display: none;
}

img {
    width: 300px;
    height: 300px;
}

p {
    color: red;
}

.right p {
    display:block;
}

#third p {
    background-color: rgb(207, 233, 59);
}